img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(218, 44%, 55%);
}

main {
  background-color: hsl(212, 45%, 89%);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  padding: 12.5px;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;

  overflow-wrap: break-word;
  text-align: center;

  border-radius: 5%;
}

.qr-img {
  border-radius: 5%;
}

.subtitle {
  font-weight: 700;
  color: hsl(255, 100%, 0%);
  font-size: 1.25rem;
}

.description {
}

@media only screen and (min-width: 500px) {
  main {
    background-color: hsl(212, 45%, 89%);
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.075);
  }
}

@media only screen and (min-width: 1300px) {
  body {
    padding: clamp(0px, 2vw, 100px) clamp(0px, 1vw, 50px);
  }
}
