:root {
  --black: black;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--grayish-blue);
}

main {
  background-color: var(--light-gray);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  padding: 1rem;
  background-color: var(--white);
  margin: 0 auto;

  overflow-wrap: break-word;
  text-align: center;

  border-radius: 5%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.075);
}

.qr-img {
  border-radius: 5%;
}

.subtitle {
  font-weight: 700;
  color: var(--black);
  font-size: 1.25rem;
}

.description {
  color: hsl(--grayish-blue, 0.5);
}

@media only screen and (min-width: 500px) {
  main {
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.075);
  }
}

@media only screen and (min-width: 1300px) {
  body {
    padding: clamp(0px, 2vw, 100px) clamp(0px, 1vw, 50px);
  }
}
